<section class="post">
	<ol class="breadcrumb">
        <li><a href="#/">Blog</a></li>
        <li class="active">Log Out</li>
    </ol>

		<!-- modal box -->
		<div id="boxes">
        
            <div id="dialog" class="window monster">
                <!-- close -->
                <a href="#" class="close"></a>
                
               
                <div class="nform">
                    <p class="hellotxt">Say hello!</p>
                    <p class="underhellotext">Interesting projects OR Proposals? <br />Comments? Suggestions?<br /> Please drop me a line or Skype me!</p>
                    
                    
                    <a href="mailto:alex@egopop.net" class="clink emailicon">alex@egopop.net</a> 
                    <a href="skype:dasnimamo?chat" class="clink skypeicon">dasnimamo</a> 

                </div>
            
            </div>
            
			<div id="mask"></div>
     	
        </div>
        <!-- end modal -->

    <!-- header -->
    <div class="header">
    
    	<a href="index.html" class="bhome"></a>
    
    	<ul class="menu">
        	<li><a href="portfolio.html">PORTFOLIO</a></li>
            <li><a href="about.html" id="macitve">ABOUT</a></li>
            <li><a href="#dialog" name="modal">CONTACT</a></li>
        </ul>
    
    	<a href="index.html" ><img src="images/logo.png" alt="Ego Pop" class="logo" /></a>
    
    </div>
    <!-- end header -->
    
    <!-- middle -->
    <div class="mid_wrap">
    <div class="middle">
    
    	<p class="justme">For now, it's just me. Aleksandar Grkinic</p>
        
        <p class="striving">
        	Striving to become GREAT at his job! Wants bigger things in life. Loves when inner kid takes command. Finds passion in creating visual stuff. Psychology graduate who realized that psyche is his greatest enemy. Thinks he can expect an exciting future.
        </p>	
        
        <img src="images/circle.png" alt="about me" class="circle" />
        
        <div class="what">
        
        	<p class="column1">
            	<strong>This is where I show my stuff. Expose myself. Put my ego in your hands.</strong>
				Take a look around, first column is for my big freelance projects, second column is for my dribbble updates, third column is for my other creative experiments.
            </p>
            
            <p class="column2">
            	I mostly design:
				<br><br>
                <strong>Website<br>
                GUI and UX<br>
                Logos, Identity</strong>
                <br><br>
                You can hire me or try to talk to me on other subjects.
            </p>
        
        </div>
        
        <p class="befriend">You can be friends with me:</p>
        
        <div class="soc_hold"> 
    	<a href="http://www.twitter.com/ego_pop" class="clink1" ></a>
        <a href="http://www.facebook.com/grkinic" class="clink2" ></a>
        <a href="http://rs.linkedin.com/in/grkinic" class="clink3" ></a>
        </div>
        
        <!-- about footer -->
        <p class="about_foot">
        I love cheesy moments, so I've prepared a thank you note. I would like to thank everyone who encouridged me to become what I've become,<br> who shared love with me and supported me through hard times. I also thank Vladimir for coding this page, R. Sekulic for thinking of Egopop name...
        </p>

    </div> 
    </div>
    <!-- end middle -->

</section>